<h1>Rankings</h1>
<p>This is bogus data for a while just to test the layout.</p>

<table class="teams table table-striped table-bordered sortable" data-sort-name="rating" data-sort-order="desc">
  <tr>
    <th><%= sort_link(@q, :rank, "Rank", default_order: :asc) %></th>
    <th><%= sort_link(@q, :school_name, "School") %></th>
    <th><%= sort_link(@q, :conference, "Conference") %></th>
    <th><%= sort_link(@q, :rating, "Rating", default_order: :desc) %></th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.rank %></td>
      <td><%= link_to team.school_name, team %></td>
      <td><%= team.conference %></td>
      <td><%= team.rating %></td>
    </tr>
  <% end %>
</table>
