<% nickname = @team.nickname || "?" %>
<h1 class="team-header"><strong><%= @team.school_name + " " %></strong><%= nickname %></h1>
<table class="games table table-striped table-bordered sortable">
  <tr>
    <th><%= "Date" %></th>
    <th><%= "Opponent" %></th>
    <th><%= "Result" %></th>
  </tr>
  <% @team.games.each do |game| %>
    <% result = "L" %>
    <tr>
      <td><%= game[:date].strftime("%m/%d/%Y") %></td>
      <% if @team.school_name == game[:home_team] %>
        <td><%= link_to game[:away_team], "/teams/#{game[:away_team]}" %></td>
        <% result = "W" if game.home_score > game.away_score %>
      <% else %>
        <td><%= link_to "@" + game[:home_team], "/teams/#{game[:home_team]}"%></td>
        <% result = "W" if game.away_score > game.home_score %>
      <% end %>
      <td><%= result + ", " + game[:home_score].to_s + "-" + game[:away_score].to_s %></td>
    </tr>
  <% end %>
</table>
