<footer class="footer">
  <div class="social-icons col-xs-1">
    <ul>
      <li><%= link_to image_tag("twitter-wrap.png", alt: "Connect on twitter."), "http://www.twitter.com/zsspanther", class: 'social-icon' %></li>
      <li><%= link_to image_tag("facebook-wrap.png", alt: "Connect on facebook."), "http://www.facebook.com/zach.stearman", class: 'social-icon' %></li>
    </ul>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <div class="copyright col-xs-4">
      <small> &copy; 2016 Zach Stearman </small>
  </div>
</footer>